<%- include("header") -%>

<h2>this is a about page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, veritatis delectus beatae suscipit laborum eum ex mollitia in iste? Deserunt soluta quos alias, qui voluptatibus laboriosam ratione perspiciatis quas ullam.</p>

<%- include("footer") -%>